* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./images/wooden-table.jpg);
  background-size: cover;
}
#kartTahtasi {
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 15px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
.kart {
  width: 70px;
  height: 70px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(196, 88, 0, 0.658);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
}
  